@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --font: Roboto;
    --dark-bg: #1f2937;
    --main-text-color: #f9faf8;
    --main-weight: 900;
    --main-size: 3rem;
    --sec-text: 1.125rem;
    --sec-color: #e5e7eb;
    --logo-text: 1.5rem;
    --accent-color: #3882f6;
    --info-text: 2.25rem;
    --quote-bg: #e5e7eb;
    --quote-text: 2.25rem;
    --quote-weight: light;
    --quote-style: italic;
}
* , ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    display: block;
    max-width: 100%;
}
a{
    color: inherit;
    text-decoration: none;
}
ul{
    list-style: none;
}

html{
    font-size: 16px;
}
body{
    font-family: var(--font);
}

.wrapper{
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    border: 1px solid red;
    border-bottom: none;
    border-top: none;
}
/*Navigation*/
header{
    background: var(--dark-bg);
    color: var(--main-text-color);
}


.navbar{
    height: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    margin-right: 1.2em;
}
.navbar ul li a:hover{
    padding: 1em 0;
    border-bottom: 1px solid;
    transition: 0.35s ease-in-out;
    text-align: center;
    background-color: var(--main-text-color);
    color: var(--dark-bg);
}

.navbar .logo{
    font-size: var(--logo-text);
    font-weight: var(--main-weight);
}

/*Hero*/
#hero{
    background-color: var(--dark-bg);
    padding: 4em 0 8em;
}
.hero_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero_text{
    max-width: 50%;
    color: var(--sec-color);
}
.hero_text h1{
    color: var(--main-text-color);
    font-weight: var(--main-weight);
    font-size: var(--main-size);
}
.hero_text p{
    font-size: var(--sec-text);
    margin: 0.5em 0 1em;
    line-height: 1.8m;
}
.hero_text .bold{
    font-weight: var(--main-weight);
    border-bottom: 2px dashed;
}
.hero_container img{
    height: 30em;
}
.btn{
    display: inline-block;
    background-color: var(--accent-color);
    padding: 0.5em 1.5em;
    text-align: center;
    border-radius: 8px;
    font-weight: var(--main-weight);
    font-size: var(--sec-text);
    
    &:hover{
        opacity: 0.8;
    }
}